
/* page background */
body{
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.6); /* Adjust transparency */
    background-blend-mode: multiply;
    background-image: url(/portfilio/images/bgbgbg.jpg)
}

html{
    scroll-behavior: smooth;
}

.headers{
    color: white;
}

/* nav bar or header */
#navbar{
    background-color: rgb(220, 220, 220);
    border-radius: 15px;
    margin-top: 10px;
}

#myHeader{
    background-color: none;
}

#backToTop {
    z-index: 1000;
}

.dropdown-menu {
    left: auto !important; /* Resets the default left alignment */
    right: 0 ;   /* Ensures it aligns to the right within the viewport */
}

/* home cards */
.home{
    background-color: rgb(220, 220, 220);
    margin-top: 30px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 20px;
}

/*  projects */

.project{
    width: 18rem;
    background-color: rgb(220, 220, 220);
}

.dscrp{
    font-size: clamp(18px, 4vw, 36px); /* Responsive font size */
    line-height: 1.2; /* Maintain spacing between lines */
    margin: 0; /* Remove default margins */
}

.icons{
    transition:  0.5s ease;
}

.icons:hover {
    transform: scale(1.5);
}

.typing{
    color: rgb(13, 92, 195);
}